<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Novo Snippet</title>
  {% load static %}
  <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

  <!-- Highlight JS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/github-dark.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/snippet.css' %}" />
  <link rel="stylesheet" href="{% static 'css/create.css' %}" />
</head>
<!-- NAVBAR -->
<nav class="navbar" style="background-color: #000000;">
  <a class="navbar-brand text-white" href="{% url 'home' %}">
    <img src="{% static 'assets/logo1.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="" />
    CodeShare
  </a>
</nav>

<body>
  <main class="view">
    <div class="window">
      <div class="window-header">
        <div class="action-buttons"></div>
        <div class="controls">
          <input id="codeTitle" type="text" placeholder="NovoCodigo">

          <select id="codeLang" onchange="changeLang()">
            {% for x in progLang %}
            <option value="{{ x.name }}">{{ x.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="window-body">
        <div class="editor language-Python" data-gramm="false"></div>
      </div>
    </div>

    <button id="btnSalvar" class="btn btn-success" type="submit" onclick="saveSnippet()">Salvar</button>
  </main>
</body>
<!-- Custom JS -->
<script src="{% static 'codeJar/codejar.js' %}"></script>
<script src="{% static 'js/create.js' %}"></script>

</html>