@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=PT+Mono&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/styles/dracula.min.css");

body {
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
  font-family: Lato, sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
a,
a:visited,
a:active {
  color: black;
}
main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.logo {
  display: block;
  margin: 30px auto 10px;
  width: calc(145px / 2);
  height: calc(185px / 2);
  background: url(https://medv.io/codejar/codejar.svg) no-repeat;
  background-size: contain;
}
.title {
  color: #fff;
  text-align: center;
  font-weight: 300;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  font-size: 34px;
  margin-top: 20px;
}
.window {
margin-top: 5%;
  width: 647px;
  border-radius: 6px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}
.window .window-header {
  height: 25px;
  background: Gainsboro;
  position: relative;
}
.window .window-header .action-buttons {
  position: absolute;
  top: 50%;
  left: 10px;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  background: Crimson;
  border-radius: 50%;
  box-shadow: 15px 0 0 Orange, 30px 0 0 LimeGreen;
}
.editor {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
  font-family: "PT Mono", monospace;
  font-size: 14px;
  font-weight: 400;
  min-height: 340px;
  letter-spacing: normal;
  line-height: 20px;
  padding: 10px;
  resize: none !important;
  tab-size: 4;
}
.editor.hljs {
  padding: 10px;
}
.controls {
  font-size: 14px;
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -10px;
  display: flex;
}
.controls > div:first-child > a {
  display: inline-block;
  width: 40px;
}
.features {
  width: 547px;
  font-size: 16px;
  margin-bottom: 30px;
}

pre {
  margin-top: 0px;
  margin-bottom: 0px;
}

#btnEditar{
  margin-bottom: 20px;
}
