<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
  {% load static %}
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
</head>
<!-- NAVBAR -->
<nav class="navbar" style="background-color: #000000;">
  <a class="navbar-brand text-white" href="{% url 'home' %}">
    <img src="{% static 'assets/logo1.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="" />
    CodeShare
  </a>
</nav>

<body class="vh-100 gradient-custom">
  <section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card text-white" style="background-color: #000000; border-radius: 1rem">
            <div class="card-body p-5 text-center">
              <div class="mb-md-5 mt-md-4 pb-5">
                <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                <p class="text-white-50 mb-5">
                  Please enter your login and password!
                </p>
                <form action="" method="post">
                  {% csrf_token %} {% for field in form %}
                  <p>
                    {{ field.label }}: <br />
                    {{ field }}
                  </p>
                  {% endfor %}

                  <button class="btn btn-outline-light btn-lg px-5" type="submit">
                    Login
                  </button>
                </form>
              </div>

              <div>
                <p class="mb-0">
                  Don't have an account?
                  <a href="{% url 'register' %}" class="text-white-50 fw-bold">Sign Up</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>